In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
lables = ['a', 'b', 'c']


nums = [10,11,12]

series = pd.Series(lables,(1,2,3))

series

1    a
2    b
3    c
dtype: object

In [3]:
np.random.seed(101)

df = pd.DataFrame(randn(5,4),['A','B','C','D', 'E'], ['W','X','Y','Z'])

df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [ ]:
# HOW TO SELECT A COLUMN IN PANDAS NB: IT RETURNS SERIES
#df.W.A

df['W']

np.float64(2.706849839399938)

In [ ]:
# HOW TO DROP ROW OR COLUMN IN PANDAS

#df.drop('W', axis=1) axis=1 will drom the specified column and by default axis is 0 which will drop the row: df.drop('A'). The reason rows are axis 0 and columns are axis 1 is because we already
#specified (5,4) which is 2-dimentional matrix with 5 rows and 4 clumns, which has index 0 for rows and index 1 for columns (df.shape will verify this)

#NB: If we want to permanently remove a row or a column, we should use inplace=true => df.drop('w', axis = 1,inplace=true)

In [28]:
# HOW TO SELECT A ROW IN PANDAS NB: IT RETURNS SERIES

df.loc['C'] # For labled based index 

df.iloc[2]  # For numerical based index

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [36]:
# How to return specific cell value

df.loc['A','Z'].item()

0.5038257538223936

In [ ]:
# CONDITIONAL SELECTIONS IN PANDAS DATAFRAME
booldf = df > 0 # This means return all values > 0 and NULL value for the rest cells

#Mostly used syntax => df[df > 0]


df[booldf]

df[df['W']>0] #Will returns only the rows match the condition

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509